<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957779471289-iabraro158e8rffth0tjmb41mk2ja89a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957779471289-iabraro158e8rffth0tjmb41mk2ja89a</string>
	<key>API_KEY</key>
	<string>AIzaSyDbM1PManzeJ4PV9Fg0fkepxY2EUZfAkok</string>
	<key>GCM_SENDER_ID</key>
	<string>957779471289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clamp.CarrotClone</string>
	<key>PROJECT_ID</key>
	<string>carrotclone-7271e</string>
	<key>STORAGE_BUCKET</key>
	<string>carrotclone-7271e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957779471289:ios:9eb28983cdf2edb6bbe468</string>
</dict>
</plist>